main{
	background: lightblue;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	width: 90%;
	display: inline-block;
	float:left; 			
}

div h1{
	color: green;
	text-align: center;
}

.lab1{
	display: inline-block;
	width: 22%;	
}

div p{
	float: left;
 	color: white;
	text-align: center; 
}

@media screen and (max-width: 700px) and (min-width: 400px){
	.lab1{
		width: 45%;
		color: red;
	}
}

@media screen and (max-width: 400px){
	.lab1{
		width: 90%;
		color: black;
	}
}
