main{
	background: lightblue;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	width: (100% - 50px);
	display: inline-block;
	float:left; 			
}

div h1{
	color: green;
	text-align: center;
}

.lab1{
	display: inline-block;
	width: (25% - 50px);	
}

div p{
	float: left;
 	color: white;
	text-align: center; 
}

@media screen and (max-width: 700px) and (min-width: 400px){
	.lab1{
		width: (50% - 50px);
		color: red;
	}
}

@media screen and (max-width: 400px){
	.lab1{
		width: (100% - 50px);
		color: black;
	}
}
