main{
	background: lightblue;
	display: inline-block;
	float:left; 			
}

div h1{
	color: green;
	text-align: center;
}

.lab1{
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	width: auto;	
}

div p{
	float: left;
 	color: white;
	text-align: center; 
}

@media screen and (max-width: 700px) and (min-width: 400px){
	.lab1{
		width: calc(50% - 100px);
		color: red;
	}
}

@media screen and (max-width: 400px){
	.lab1{
		width: calc(100% - 50px);
		color: black;
	}
}
